<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trendinit</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <!-- <style>
    .text{
      /* white-space:nowrap; */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      /* width: 1000px; */
      overflow: hidden;
      /* text-overflow: ellipsis; */

    }

  </style> -->
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Trendinit</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/Sports">Sports</a></li>
            <li><a href="/Movies">Movies</a></li>
            <li><a href="/Technology">Technology</a></li>
            <li><a href="/Politics">Politics</a></li>
            <li><a href="/International">International</a></li>
            <li><a href="/Others">Others</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1><%= data[0].title %></h1>
      <h5>
        Article by:<b><i> <%= data[0].by %></i></b> --&nbsp; Category:<b
          ><i> <%= data[0].category %></i></b
        >
        --&nbsp; Date: <%= data[0].date %> - IST[Indian Standard Time]
      </h5>
      <hr />
      <h4><%= data[0].desc %></h4>
    </div>
  </body>
</html>
